@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  background-color: #000e14;
  display: block;
  padding-bottom: 40px;
  margin-bottom: 2em;
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: 'Rubik', sans-serif;
  text-shadow: 0 0 3px #fff;
}
